fastapi
uvicorn
sqlalchemy
psycopg2-binary
langgraph
langchain>=0.3
langchain-google-genai
langchain-openai
langchain-anthropic
python-dotenv
pydantic
python-multipart

openpyxl
python-pptx
pywin32
google-auth
PyJWT
discord.py
bs4
